# Virtual env
venv/
.venv/
env/

# Environment
.env
.env.*
!.env.example
.env.local

# Database
*.sqlite3
db.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.so
*.egg-info/
.eggs/

# IDE & OS
.idea
.vscode
.DS_Store
*.log
